@use './variables' as variables;
@use 'sass:color';
@use './functions' as *;

@mixin focus-ring(
  $color: variables.$rich-black,
  $width: 2px,
  $offset: 5px
) {
  border-radius: 3px;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: $width solid $color;
    outline-offset: $offset;
  }
}

@mixin button-base($text-color, $background, $width, $padding) {
  max-width: $width;
  width: 100%;
  border: variables.$button-border;
  background-color: $background;
  padding: rem($padding) 0;
  font-size: rem(14);
  font-weight: 500;
  line-height: rem(17);
  color: $text-color;
  text-align: center;
  transition: background-color 0.3s ease;

  @if $background == variables.$bg-color-accent {
    &:hover {
      background-color: color.scale($background, $lightness: 15%) ;
    }

    &:active {
      background-color: color.scale($background, $lightness: 30%) ;
    }
  } @else {
    &:hover {
      background-color: color.scale($background, $blackness: 15%) ;
    }

    &:active {
      background-color: color.scale($background, $blackness: 30%) ;
    }
  }
}
