// ===== COLOR ===== //
$white: rgb(255 255 255);
$white-smoke: rgb(245 245 245);
$gray: rgb(102 102 102);
$rich-black: rgb(17 17 17);

/* text */
$text-main-color: $gray;

/* header-link */
$header-link-active-color: $rich-black;

/* focus */
$focus-border-color: $rich-black;

// ===== TYPOGRAPHY ===== //
$font-family-primary: 'Inter', sans-serif;
$font-family-accent: 'Playfair Display', serif;
