@use "sass:color";

// ===== COLOR ===== //
$white: rgb(255 255 255);
$black: rgb(0 0 0);
$white-smoke: rgb(245 245 245);
$gray: rgb(102 102 102);
$gray-middle: rgb(136 136 136);
$gray-light: rgb(224 224 224);
$earthy-taupe: rgb(138 133 124);
$rich-black: rgb(17 17 17);
$parchment: rgb(245 238 220);
$platinum: rgb(235 231 223);

/* background */
$bg-color-main: $white;
$bg-color-accent: $rich-black;
$bg-color-platinum: $platinum;

/* text */
$text-main-color: $gray;
$text-light-color: $white;
$text-dark-color: $rich-black;

/* title */
$title-accent-color: $earthy-taupe;

/* subtitle */
$subtitle-main-color: $gray-middle;

/* header */
$header-link-active-color: $rich-black;
$header-search-border: 1px solid $gray-light;
$header-bottom-border: 1px solid $rich-black;

/* focus */
$focus-border-color: $rich-black;

/* button */
$button-border: 1px solid $rich-black;
$button-background-dark: $rich-black;
$button-background-light: $white;

/* burger */
$burger-close-hover: color.scale($black, $lightness: 35%);

/* overlay */
$overlay-bg: color.scale($parchment, $alpha: -25%);

// ===== TYPOGRAPHY ===== //
$font-family-primary: 'Inter', sans-serif;
$font-family-accent: 'Playfair Display', serif;
