<footer id="footer" class="footer">
  <div class="footer__content container">
    <div class="footer__brand">
      <a class="footer__logo" href="javascript:void(0)">
        <img [ngSrc]="'/assets/images/vector/logo-white.svg'" width="143" height="22" alt="Логотип клуба"/>
      </a>
      <p class="footer__description">Клуб читателей: подборки, рецензии и живые разговоры о книгах.
        Без рекламы и спойлеров.</p>
      <ul class="footer__socials">
        <li><a href="javascript:void(0)" class="footer__link footer__link--mail footer__link--social" rel="noreferrer noopener" target="_blank"><span class="visually-hidden">Отправить нам письмо</span></a>
        </li>
        <li><a href="javascript:void(0)" class="footer__link footer__link--vk footer__link--social" rel="noreferrer noopener" target="_blank"><span
          class="visually-hidden">Мы в VK</span></a></li>
        <li><a href="javascript:void(0)" class="footer__link footer__link--max footer__link--social" rel="noreferrer noopener" target="_blank"><span
          class="visually-hidden">Мы в Max</span></a></li>
      </ul>
    </div>
    <nav class="footer__nav" aria-label="Навигация по сайту">
      <div class="footer__nav-column">
        <h2 class="footer__heading">Каталог</h2>
        <ul class="footer__list">
          <li>
            <a href="javascript:void(0)" class="footer__link">Новинки</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link">Подборки</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link">Авторы</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link">Рецензии</a>
          </li>
        </ul>
      </div>

      <div class="footer__nav-column">
        <h2 class="footer__heading">Сообщество</h2>
        <ul class="footer__list">
          <li>
            <a href="javascript:void(0)" class="footer__link">Клубные встречи</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link">Марафоны чтения</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link">Читательский рейтинг</a>
          </li>
        </ul>
      </div>

      <div class="footer__nav-column">
        <h2 class="footer__heading">О проекте</h2>
        <ul class="footer__list">
          <li>
            <a href="javascript:void(0)" class="footer__link">О нас</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link">Команда</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link">Контакты</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link">Правила клуба</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
