<footer id="footer" class="footer">
  <div class="footer__content container">
    <div class="footer__brand">
      <a class="footer__logo" href="javascript:void(0)">
        <img [ngSrc]="'/assets/images/vector/logo-white.svg'" width="143" height="22" alt="Логотип клуба"/>
      </a>
      <p class="footer__description">Клуб читателей: подборки, рецензии и живые разговоры о книгах.
        Без рекламы и спойлеров.</p>
      <ul class="footer__socials">
        <li><a href="javascript:void(0)" class="footer__link footer__link--mail footer__link--social" rel="noreferrer noopener" target="_blank"><span class="visually-hidden">Отправить нам письмо</span></a>
        </li>
        <li><a href="javascript:void(0)" class="footer__link footer__link--vk footer__link--social" rel="noreferrer noopener" target="_blank"><span
          class="visually-hidden">Мы в VK</span></a></li>
        <li><a href="javascript:void(0)" class="footer__link footer__link--max footer__link--social" rel="noreferrer noopener" target="_blank"><span
          class="visually-hidden">Мы в Max</span></a></li>
      </ul>
    </div>
    <nav class="footer__nav" aria-label="Навигация по сайту">
      <details class="footer__nav-accordion" [open]="!IsAccordionMode()">
        <summary class="footer__heading">Каталог</summary>
        <ul class="footer__list">
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Новинки</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Подборки</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Авторы</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Рецензии</a>
          </li>
        </ul>
      </details>

      <details class="footer__nav-accordion" [open]="!IsAccordionMode()">
        <summary class="footer__heading">Сообщество</summary>
        <ul class="footer__list">
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Клубные встречи</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Марафоны чтения</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Читательский рейтинг</a>
          </li>
        </ul>
      </details>

      <details class="footer__nav-accordion" [open]="!IsAccordionMode()">
        <summary class="footer__heading">О проекте</summary>
        <ul class="footer__list">
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">О нас</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Команда</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Контакты</a>
          </li>
          <li>
            <a href="javascript:void(0)" class="footer__link footer__link--nav">Правила клуба</a>
          </li>
        </ul>
      </details>
    </nav>
  </div>
</footer>
