@use './styles/variables' as variables;
@use './styles/functions' as *;
@use './styles/fonts';
@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: variables.$text-main-color;
  font-family: variables.$font-family-primary;
  font-style: normal;
  font-size: rem(16);
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
  text-align: left;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 0 rem(56);
  margin: 0 auto;

  @media (width <= 855px) {
    padding: 0 rem(32);
  }

  @media (width <= 590px) {
    padding: 0 rem(15);
  }
}

.hidden {
  display: none !important;
}

.swiper-slide {
  width: 100%;
  height: auto;
}

.swiper-pagination-bullet-active {
  width: 24px;
  height: 8px;
  border-radius: 4px;
  background: variables.$rich-black;
}

.swiper-button-next, .swiper-button-prev {
  width: 54px;
  height: 54px;
  padding: 4px;
  border-radius: 50%;
  border: 1px solid #ffc44d;
}

.swiper-horizontal .swiper-button-next {
  right: 10px;
}

.swiper-horizontal .swiper-button-prev {
  left: 10px;
}

.swiper-button-prev, .swiper-button-next {
  color: #ffc44d;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
