@use '../../../../../styles/variables' as variables;
@use '../../../../../styles/functions' as *;

.reviews {
  padding: rem(56) 0;
  background-color: variables.$white-smoke;

  &__title {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media (width <= 768px) {
      gap: 6px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;

    margin-bottom: rem(28);

    @media (width <= 780px) {
      margin-bottom: rem(24);
    }

    @media (width <= 760px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0;
    align-self: flex-end;
    color: variables.$text-dark-color;
    font-size: rem(14);
    font-weight: 500;
    line-height: rem(17);

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-image: url('/assets/images/vector/star.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @media (width <= 768px) {
      font-size: rem(13);
      line-height: rem(16);
    }

    @media (width <= 760px) {
      align-self: flex-start;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    li {
      width: 100%;
    }

    @media (width <= 930px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= 780px) {
      display: flex;
      flex-direction: column;
    }
  }

  @media (width <= 1250px) {
    padding: rem(48) 0;
  }
}
