@use '../../../../../styles/variables' as variables;
@use '../../../../../styles/functions' as *;
@use '../../../../../styles/mixins' as mixins;
@use 'sass:color';

.catalog {
  &__top {
    margin-bottom: rem(56);

    @media (width <= 1250px) {
      margin-bottom: rem(48);
    }
  }

  &__wrapper {
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(20);

      @media (width <= 768px) {
        margin-bottom: rem(16);
      }
    }

    &-content-title {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @media (width <= 768px) {
        gap: 6px;
      }
    }
  }

  &__title {
    color: variables.$text-dark-color;
    font-family: variables.$font-family-accent;
    font-weight: 400;

    &--top {
      font-size: rem(28);
      line-height: rem(37);

      @media (width <= 768px) {
        font-size: rem(24);
        line-height: rem(32);
      }
    }

    &--content {
      font-size: rem(36);
      line-height: 100%;

      @media (width <= 768px) {
        font-size: rem(26);
        line-height: rem(35);
      }
    }
  }

  &__subtitle {
    font-size: rem(14);
    line-height: rem(17);

    @media (width <= 768px) {
      font-size: rem(13);
      line-height: rem(16);
    }
  }

  &__button {
    @include mixins.button-base(
      $text-color: variables.$gray-dark,
      $background: variables.$bg-color-main,
      $width: max-content,
      $padding: 0
    );

    color: variables.$gray-dark;
    cursor: pointer;
    font-weight: 400;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;

    &-categories {
      display: flex;
      align-items: center;
      align-self: stretch;
      height: auto;
      gap: 8px;
      border: none;
      background: none;
      padding: 0;
      color: variables.$text-dark-color;
      font-family: variables.$font-family-primary;
      font-size: rem(14);
      font-weight: 500;
      line-height: rem(16);
      cursor: pointer;
      transition: color 0.3s ease;

      &::after {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-color: variables.$rich-black;
        mask-image: url("/assets/images/vector/arrow-right.svg");;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
        transition: transform 0.3s ease, background-color 0.3s ease;
      }

      &:hover {
        color: color.scale(variables.$rich-black, $lightness: 25%);

        &::after {
          transform: rotate(-180deg);
          background-color: color.scale(variables.$rich-black, $lightness: 25%);
        }
      }

      &:active {
        color: color.scale(variables.$rich-black, $lightness: 45%);

        &::after {
          background-color: color.scale(variables.$rich-black, $lightness: 45%);
        }
      }

      @media (width <= 396px) {
        display: none;
      }
    }

    &--category {
      font-size: rem(14);
      line-height: rem(17);
      font-family: variables.$font-family-primary;
      padding: rem(9) rem(19);
      border: 1px solid variables.$gray-light;
      text-wrap: nowrap;
    }

    &--view {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: rem(10) rem(18);
      border: none;
      border-left: 1px solid variables.$gray-light;
      max-width: none;
      width: 120px;
      font-family: variables.$font-family-primary;
      font-size: rem(13);
      line-height: rem(16);

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-color: variables.$rich-black;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
      }

      @media (width <= 410px) {
        width: 220px;
      }
    }

    &--grid {
      &::before {
        mask-image: url("/assets/images/vector/grid-icon.svg");
      }
    }

    &--list {
      &::before {
        mask-image: url("/assets/images/vector/list-icon.svg");
      }
    }

    &--slider {
      &::before {
        mask-image: url("/assets/images/vector/gallery-icon.svg");
      }
    }

    &--active {
      background-color: variables.$bg-color-accent;
      border-color: variables.$rich-black;
      color: variables.$text-light-color;

      &::before {
        background-color: white;
      }

      &:hover {
        background-color: color.scale(variables.$bg-color-accent, $lightness: 15%);
      }

      &:active {
        background-color: color.scale(variables.$bg-color-accent, $lightness: 30%);
      }
    }
  }

  &__books-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }

  &__content {
    background-color: variables.$white-smoke;
    padding: rem(56) 0;

    @media (width <= 1250px) {
      padding: rem(48) 0;
    }

    .container {
      display: flex;
      justify-content: space-between;

      @media (width <= 780px) {
        flex-direction: column;
        gap: 16px;
      }
    }
  }

  &__views {
    display: flex;
    align-self: flex-end;

    @media (width <= 780px) {
      align-self: flex-start;
    }

    @media (width <= 410px) {
      flex-direction: column;
      gap: 10px;
      align-self: center;
    }
  }
}
