<section id="{{ Section.CATALOG }}" class="catalog">
  <div class="catalog__top container">
    <div class="catalog__wrapper-top">
      <h2 class="catalog__title catalog__title--top">Что читаем сейчас</h2>
      <button type="button" class="catalog__button-categories">Все категории</button>
    </div>
    <ul class="catalog__books-categories">
      @for (category of categories; track category) {
        <li>
          <button
            type="button"
            (click)="selectCategory(category)"
            [ngClass]="{
              catalog__button: true,
              'catalog__button--category': true,
              'catalog__button--active': isActiveCategory(category),
            }"
          >
            {{ getCategoryLabel(category) }}
          </button>
        </li>
      }
    </ul>
  </div>
  <div class="catalog__content">
    <div class="container">
      <div class="catalog__wrapper-content-top">
        <div class="catalog__content-top">
          <div class="catalog__wrapper-content-title">
            <h2 class="catalog__title catalog__title--content">Каталог книг</h2>
            <p class="catalog__subtitle">{{ totalCount() }} книг в открытых подборках сообщества</p>
          </div>
        </div>
        <ul class="catalog__views">
          @for (view of views; track view) {
            <li>
              <button
                (click)="selectView(view)"
                [ngClass]="{
                  catalog__button: true,
                  'catalog__button--view': true,
                  'catalog__button--grid': view === View.GRID,
                  'catalog__button--list': view === View.LIST,
                  'catalog__button--slider': view === View.SLIDER,
                  'catalog__button--active': isActiveView(view),
                }"
                type="button"
              >
                {{ getViewLabel(view) }}
              </button>
            </li>
          }
        </ul>
      </div>
      @if (viewMode() === View.SLIDER) {
        <div class="catalog__swiper">
          <app-swiper>
            @for (book of books(); track book.id) {
              <div class="swiper-slide">
                <app-book-card
                  [book]="book"
                  [index]="$index"
                  [viewMode]="viewMode()"
                />
              </div>
            }
          </app-swiper>
        </div>
      } @else {
        <ul
          [ngClass]="{
          catalog__books: true,
          'catalog__books--grid': viewMode() === View.GRID,
          'catalog__books--list': viewMode() === View.LIST,
          'catalog__books--slider': viewMode() === View.SLIDER,
        }"
        >
          @for (book of books(); track book.id) {
            <li>
              <app-book-card
                [style.width.%]="100"
                [book]="book"
                [index]="$index"
                [viewMode]="viewMode()"
              />
            </li>
          }
        </ul>
        <app-pagination />
      }
    </div>
  </div>
</section>
