@use '../../../../styles/variables' as variables;
@use '../../../../styles/functions' as *;

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__link {
    text-decoration: none;
    color: variables.$text-main-color;
  }

  &__image {
    position: relative;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: rem(20) rem(24) rem(24);
    border: 1px solid rgb(224, 224, 224);
    border-top: none;

    @media (width <= 768px) {
      padding: rem(16) rem(18) rem(18);
    }
  }

  &__title {
    color: rgba(17, 17, 17, 1);
    font-family: variables.$font-family-accent;
    font-size: rem(20);
    line-height: 130%;
    font-weight: 400;
    order: 0;

    @media (width <= 768px) {
      font-size: rem(18);
    }
  }

  &__subtitle {
    color: variables.$gray-middle;
    font-size: rem(11);
    font-weight: 500;
    line-height: rem(13);
    letter-spacing: rem(1);
    text-transform: uppercase;

    @media (width <= 768px) {
      font-size: rem(10);
      line-height: rem(12);
    }
  }

  &__description {
    font-size: rem(13);
    line-height: 150%;

    @media (width <= 768px) {
      font-size: rem(12);
    }
  }

  &__author {
    display: flex;
    gap: 10px;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-initials {
      font-size: rem(11);
      font-weight: 500;
      line-height: rem(13);
    }

    &-name {
      color: variables.$text-dark-color;
      font-size: rem(13);
      font-weight: 500;
      line-height: rem(16);
    }
  }

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: variables.$text-light-color;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: variables.$black-eerie;
  }

  &__collection-info {
    color: variables.$gray-middle;
    font-size: rem(12);
    line-height: rem(15);

    @media (width <= 768px) {
      font-size: rem(11);
      line-height: rem(13);
    }
  }
}
