@use '../../../../styles/variables' as variables;
@use '../../../../styles/mixins' as mixins;
@use '../../../../styles/functions' as *;
@use 'sass:color';

.pagination {
  position: relative;
  display: flex;
  justify-content: center;

  &__nav {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &__button {
    @include mixins.button-base(
      $text-color: variables.$text-main-color,
      $background: variables.$bg-color-main,
      $width: rem(36),
      $padding: 0
    );

    width: 36px;
    height: 36px;
    background-color: variables.$bg-color-main;
    border: 1px solid rgba(224, 224, 224, 1);
    cursor: pointer;
    font-family: variables.$font-family-primary;
    font-size: rem(13);
    font-weight: 500;
    line-height: rem(16);
    letter-spacing: 0px;

    &--active {
      color: variables.$text-light-color;
      background-color: variables.$bg-color-accent;
      border: none;

      &:hover {
        background-color: color.scale(variables.$bg-color-accent, $lightness: 15%);
      }

      &:active {
        background-color: color.scale(variables.$bg-color-accent, $lightness: 30%);
      }
    }

    &--actions {
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        display: block;
        width: 16px;
        height: 16px;
        background-color: variables.$text-dark-color;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: cover;
      }
    }

    &--prev {
      &::before {
        mask-image: url('/assets/images/vector/chevron-left.svg');
      }
    }

    &--next {
      &::before {
        mask-image: url('/assets/images/vector/chevron-right.svg');
      }
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }
  }

  &__statistic {
    position: absolute;
    left: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    @media (width <= 890px) {
      display: none;
    }
  }
}
