<section class="collection" id="{{ Section.COLLECTION }}">
  <div class="container">
    <div class="collection__top">
      <div class="collection__wrapper__title">
        <h2 class="section__title">Подборки сообщества</h2>
        <p class="collection__title section__subtitle">
          Собраны читателями: от медленного чтения до нон-фикшна о внимании.
        </p>
      </div>
      <button type="button" class="collection__button-more button__more">Все подборки</button>
    </div>
  </div>
</section>
